.view {
  margin-left: 40%;
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(214, 227, 177);
  border-radius: 30px;
  border: 1px rgb(76, 4, 4) solid;
  width: 20%;
  height: 500px;
}

.imgView {
  width: 150px;
  height: 150px;
}

.cartView {
  background: linear-gradient(
      217deg,
      rgba(225, 251, 247, 0.8),
      rgba(142, 159, 193, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(129, 208, 129, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(119, 119, 244, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
@media screen and (max-width: 580px) and (min-width: 1px) {
  .imgView {
    width: 80%;
    height: 45%;
    object-fit: contain;
  }
  .view {
    width: 60%;
    margin-left: 20%;
    width: 60%;
  }
}
