.Titulo {
  color: rgb(255, 255, 255);
}

.DivTitulo {
  margin-top: 0px;
  width: 100%;
  height: 150px;
  background-color: #001858;
}
.DivTitulo2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ElementoMenu {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a:hover {
  color: #f582ae;
}
@media screen and (max-width: 580px) and (min-width: 1px) {
  .Lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .DivTitulo {
    margin-top: 0px;
    width: 100%;
    height: 30%;
    background-color: rgb(204, 204, 246);
  }
}
