.Flex {
  padding-bottom: 30px;
  padding-top: 60px;
  background-color: #f3d2c1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 580px) and (min-width: 1px) {
  .Flex {
    display: flex;
    flex-direction: column;
  }
}
