.Detail {
  background-color: #f3d2c1;
  padding-top: 60px;
  padding-bottom: 60px;
}
.card {
  margin-left: 40%;
  padding: 10px;
  background-color: rgb(236, 234, 245);
  border-radius: 30px;

  width: 20%;
  height: 500px;
  transition: transform 0.3s;
}
.card:hover {
  box-shadow: 0 18px 16px rgba(82, 82, 82, 0.5);
  transform: scale(1.1);
}
@media screen and (max-width: 580px) and (min-width: 1px) {
  .card {
    width: 70%;
    margin-left: 15%;
  }
}
