.Detail {
  background: linear-gradient(
      217deg,
      rgba(225, 251, 247, 0.8),
      rgba(142, 159, 193, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(129, 208, 129, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(119, 119, 244, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.card {
  margin-top: 30px;
  margin-left: 40%;
  padding: 10px;
  background-color: rgb(214, 227, 177);
  border-radius: 30px;
  border: 1px rgb(76, 4, 4) solid;
  width: 20%;
  height: 500px;
}
@media screen and (max-width: 580px) and (min-width: 1px) {
  .card {
    width: 70%;
    margin-left: 15%;
  }
}
